@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html, body{
    background: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: rgb(255, 251, 250);
    padding: .5rem;
}

.navbar-nav{
    padding-right: 20px;
}

.nav-link{
    color: black; 
    font-size: 1rem !important;
}

.padding{
    padding: 1rem;
}

svg{
    cursor: pointer;
}

.box{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 8px;
    transform-style: preserve-3d;
}

.box::before{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 4em;
    font-weight: 900;
    color: black;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box::after{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: black;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box:hover::before,
.box:hover::after{
    opacity: 0.05;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: black;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.box:hover .name{
    top: 20px;
    opacity: 1;
}

.box .buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: white;
    background: black;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.box:hover .buy{
    bottom: 30px;
    opacity: 1;
}

.box .product{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0px); 
}

.box:hover .product{
    transform: translate3d(-50%,-50%,100px) rotate(-5deg);
}

.rect:nth-child(1) .box{
    background: linear-gradient(#00e1fd,#fc007a);
}

.rect:nth-child(2) .box{
    background: linear-gradient(#1de5e2,#b588f7);
}

.rect:nth-child(3) .box{
    background: linear-gradient(#ffe98a,#d74177);
}

.rect:nth-child(4) .box{
    background: linear-gradient(#a9f1df,#ffbbbb);

}

.rect:nth-child(5) .box{
    background: linear-gradient(#fca5f1,#b5ffff);
}

.rect:nth-child(6) .box{
    background: linear-gradient(#ffffc7,#00b7ff);
}

.rect:nth-child(1) .box::before{
    content: 'Mac';
}

.rect:nth-child(2) .box::before{
    content: 'iPad';
}

.rect:nth-child(3) .box::before{
    content: 'iPhone';
}

.rect:nth-child(4) .box::before{
    content: 'Watch';
}

.rect:nth-child(5) .box::before{
    content: 'TV';
}

.rect:nth-child(6) .box::before{
    content: 'Music';
}

.social a{
    font-size: 4.5em;
    padding: 3rem;
}

.fa-bars{
    color: black;
}

.fa-apple{
    color: black;
}

.fa-facebook{
    color: #3b5998;
}

.fa-twitter{
    color: #00aced;
}

.fa-google-plue-g{
    color: #dd4b39;
}

.fa-instagram{
    color: #517fa4;
}

.fa-youtube{
    color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plue-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}

.social a{
    font-size: 2.5em;
    padding: 1rem;
}

.fa-facebook{
    color: #3b5998;
}

.fa-twitter{
    color: #00aced;
}

.fa-google-plue-g{
    color: #dd4b39;
}

.fa-instagram{
    color: #517fa4;
}

.fa-youtube{
    color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plue-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}

footer{
    background-color: white;
    color: black;
    padding-top: 2rem;
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a{
    color: #d5d5d5;
}

hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}